/* Basic styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header, nav, main, footer {
    padding: 20px;
  }
  
  header {
    background-color: #146C94;
    color: #fff;
  }
  
 
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
}

nav li a.active {
    background-color: #AFD3E2;
    color: black;
}

nav li a.active:hover {
    background-color:#146C94;
    color:white;
}

  
  main section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    margin: 0;

  }
  
  footer {
    background-color: rgb(18, 3, 70);
    color: #fff;
    text-align: center;
  }
  footer ul li a {
    color: aqua;
    text-decoration: none;
  }
  
 footer ul li a:hover {
    color: aliceblue;
  }
  
  /* FAQ section */
  dl {
    margin-bottom: 10px;
  }
  
  dt {
    font-weight: bold;
  }
  
  /* Help & Support section */
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  