*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #146C94;
}
form{
    width:30%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 40px;
}
.btn-primary{
    width:100%;
    border:none;
    border-radius: 50px;
    background: #146C94;
}
.btn-primary:hover{
    color:#146C94;
    background: white;
    border: 1px solid #146C94;
}
.form-control{
    color: rgba(0,0,0,0.87);
    border-bottom-color: rgba(0,0,0,0.42);
    box-shadow: none !important;
    border:none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}
.eye-btn{
    border-bottom-color: rgba(0,0,0,0.42);
    box-shadow: none !important;
    border:none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}
h4{
    font-size: 2rem !important;
    font-weight: 700;
}
.centered-text{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:750px){
    form{
        width:90% !important;
    }
}